-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: u264219614_maquimpower
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `almacenes`
--

DROP TABLE IF EXISTS `almacenes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `almacenes` (
  `id` varchar(36) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `es_principal` tinyint(1) DEFAULT 0,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `almacenes`
--

LOCK TABLES `almacenes` WRITE;
/*!40000 ALTER TABLE `almacenes` DISABLE KEYS */;
INSERT INTO `almacenes` VALUES ('8e2d164e-3295-11f1-9885-d843aea88809','Almac├®n Principal','Sede Central',1,1,'2026-04-07 15:22:14'),('8e2dc4de-3295-11f1-9885-d843aea88809','Tienda 01','Mostrador',0,1,'2026-04-07 15:22:14'),('9578ec6e-2d41-11f1-8b3b-d843aea88809','AlmacÔö£┬«n Principal','Sede Central',1,1,'2026-03-31 20:38:32'),('957964af-2d41-11f1-8b3b-d843aea88809','Tienda 01','Mostrador',0,1,'2026-03-31 20:38:32');
/*!40000 ALTER TABLE `almacenes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caja_movimientos`
--

DROP TABLE IF EXISTS `caja_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `caja_movimientos` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `tipo` varchar(20) NOT NULL,
  `origen` varchar(30) DEFAULT NULL,
  `referencia_id` char(36) DEFAULT NULL,
  `referencia_numero` varchar(50) DEFAULT NULL,
  `monto` decimal(12,2) NOT NULL,
  `forma_pago` varchar(30) DEFAULT NULL,
  `saldo_anterior` decimal(12,2) NOT NULL DEFAULT 0.00,
  `saldo_nuevo` decimal(12,2) NOT NULL DEFAULT 0.00,
  `descripcion` text DEFAULT NULL,
  `fecha` date NOT NULL DEFAULT curdate(),
  `usuario_id` char(36) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_caja_fecha` (`fecha`),
  KEY `idx_caja_tipo` (`tipo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja_movimientos`
--

LOCK TABLES `caja_movimientos` WRITE;
/*!40000 ALTER TABLE `caja_movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `caja_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `nombre` varchar(255) NOT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `tipo_documento` varchar(10) NOT NULL,
  `numero_documento` varchar(20) NOT NULL,
  `razon_social` varchar(500) NOT NULL,
  `nombre_comercial` varchar(500) DEFAULT NULL,
  `direccion_fiscal` text DEFAULT NULL,
  `ubigeo` varchar(6) DEFAULT NULL,
  `departamento` varchar(100) DEFAULT NULL,
  `provincia` varchar(100) DEFAULT NULL,
  `distrito` varchar(100) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `contacto_nombre` varchar(255) DEFAULT NULL,
  `limite_credito` decimal(12,2) NOT NULL DEFAULT 0.00,
  `dias_credito` int(11) NOT NULL DEFAULT 0,
  `categoria_cliente` varchar(20) NOT NULL DEFAULT 'REGULAR',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` char(36) DEFAULT NULL,
  `legacy_id` varchar(50) DEFAULT NULL,
  `legacy_sync_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_clientes_documento` (`numero_documento`),
  KEY `idx_clientes_razon_social` (`razon_social`(100)),
  KEY `idx_clientes_legacy_id` (`legacy_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compras`
--

DROP TABLE IF EXISTS `compras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compras` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `proveedor_id` char(36) NOT NULL,
  `tipo_comprobante` varchar(20) DEFAULT NULL,
  `serie` varchar(4) DEFAULT NULL,
  `correlativo` varchar(20) DEFAULT NULL,
  `numero_comprobante` varchar(50) DEFAULT NULL,
  `fecha_comprobante` date NOT NULL DEFAULT curdate(),
  `fecha_vencimiento` date DEFAULT NULL,
  `op_gravada` decimal(12,2) NOT NULL DEFAULT 0.00,
  `igv` decimal(12,2) NOT NULL DEFAULT 0.00,
  `importe_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `moneda` varchar(3) NOT NULL DEFAULT 'PEN',
  `metodo_pago` varchar(50) DEFAULT 'CONTADO',
  `termino_pago_dias` int(11) DEFAULT 0,
  `estado` varchar(20) NOT NULL DEFAULT 'PENDIENTE',
  `estado_pago` varchar(20) NOT NULL DEFAULT 'PENDIENTE',
  `monto_pagado` decimal(12,2) NOT NULL DEFAULT 0.00,
  `observacion` text DEFAULT NULL,
  `usuario_id` char(36) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_compras_proveedor` (`proveedor_id`),
  KEY `idx_compras_fecha` (`fecha_comprobante`),
  KEY `idx_compras_estado` (`estado`),
  CONSTRAINT `compras_ibfk_1` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compras`
--

LOCK TABLES `compras` WRITE;
/*!40000 ALTER TABLE `compras` DISABLE KEYS */;
/*!40000 ALTER TABLE `compras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compras_detalle`
--

DROP TABLE IF EXISTS `compras_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compras_detalle` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `compra_id` char(36) NOT NULL,
  `item` int(11) NOT NULL,
  `producto_id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `descripcion` text NOT NULL,
  `tipo_afectacion_igv` varchar(2) DEFAULT '10',
  `unidad_medida` varchar(10) NOT NULL DEFAULT 'NIU',
  `cantidad` decimal(12,3) NOT NULL,
  `costo_unitario` decimal(12,4) NOT NULL,
  `igv_item` decimal(12,2) NOT NULL DEFAULT 0.00,
  `almacen_destino_id` varchar(36) DEFAULT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_item_compra` (`compra_id`,`item`),
  KEY `idx_compras_det_compra` (`compra_id`),
  KEY `producto_id` (`producto_id`),
  CONSTRAINT `compras_detalle_ibfk_1` FOREIGN KEY (`compra_id`) REFERENCES `compras` (`id`) ON DELETE CASCADE,
  CONSTRAINT `compras_detalle_ibfk_2` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`id`) ON DELETE SET NULL ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compras_detalle`
--

LOCK TABLES `compras_detalle` WRITE;
/*!40000 ALTER TABLE `compras_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `compras_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion_empresa`
--

DROP TABLE IF EXISTS `configuracion_empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracion_empresa` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `ruc` varchar(11) NOT NULL,
  `razon_social` varchar(500) NOT NULL,
  `nombre_comercial` varchar(500) DEFAULT NULL,
  `ubigeo` varchar(6) DEFAULT NULL,
  `departamento` varchar(100) DEFAULT NULL,
  `provincia` varchar(100) DEFAULT NULL,
  `distrito` varchar(100) DEFAULT NULL,
  `direccion_fiscal` text DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `web` varchar(255) DEFAULT NULL,
  `logo_url` varchar(500) DEFAULT NULL,
  `sunat_modo` varchar(10) NOT NULL DEFAULT 'beta',
  `sunat_sol_usuario` varchar(100) DEFAULT NULL,
  `sunat_sol_clave` varchar(255) DEFAULT NULL,
  `sunat_cert_path` text DEFAULT NULL,
  `sunat_key_path` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion_empresa`
--

LOCK TABLES `configuracion_empresa` WRITE;
/*!40000 ALTER TABLE `configuracion_empresa` DISABLE KEYS */;
INSERT INTO `configuracion_empresa` VALUES ('e4aca10a-1a66-11f1-96c5-5ccceb374ee4','20606853182','CORPORACION MAQUIMSA E.I.R.L','MAQUIMPOWER',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'beta',NULL,NULL,NULL,NULL,'2026-03-07 20:47:45','2026-03-07 20:47:45');
/*!40000 ALTER TABLE `configuracion_empresa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotizaciones`
--

DROP TABLE IF EXISTS `cotizaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cotizaciones` (
  `id` varchar(36) NOT NULL,
  `numero_correlativo` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` varchar(36) DEFAULT NULL,
  `vendedor_id` varchar(36) DEFAULT NULL,
  `fecha_emision` date DEFAULT curdate(),
  `fecha_vigencia` date DEFAULT NULL,
  `moneda` varchar(3) DEFAULT 'PEN',
  `op_gravada` decimal(12,2) DEFAULT 0.00,
  `igv` decimal(12,2) DEFAULT 0.00,
  `total` decimal(12,2) DEFAULT 0.00,
  `estado` varchar(20) DEFAULT 'PENDIENTE',
  `numero_whatsapp` varchar(20) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_correlativo` (`numero_correlativo`),
  KEY `vendedor_id` (`vendedor_id`),
  CONSTRAINT `cotizaciones_ibfk_1` FOREIGN KEY (`vendedor_id`) REFERENCES `vendedores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizaciones`
--

LOCK TABLES `cotizaciones` WRITE;
/*!40000 ALTER TABLE `cotizaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `cotizaciones` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_cotizaciones_bi
BEFORE INSERT ON cotizaciones
FOR EACH ROW
BEGIN
  IF NEW.id IS NULL OR NEW.id = '' THEN
    SET NEW.id = UUID();
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `cotizaciones_detalle`
--

DROP TABLE IF EXISTS `cotizaciones_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cotizaciones_detalle` (
  `id` varchar(36) NOT NULL,
  `cotizacion_id` varchar(36) DEFAULT NULL,
  `item` int(11) NOT NULL,
  `producto_id` varchar(36) DEFAULT NULL,
  `descripcion` text NOT NULL,
  `cantidad` decimal(12,3) NOT NULL,
  `valor_unitario` decimal(12,4) NOT NULL,
  `precio_unitario` decimal(12,4) DEFAULT NULL,
  `descuento_unitario` decimal(12,2) DEFAULT 0.00,
  `tipo_afectacion_igv` varchar(2) DEFAULT '10',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `indicacion` varchar(32) DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `cotizacion_id` (`cotizacion_id`),
  CONSTRAINT `cotizaciones_detalle_ibfk_1` FOREIGN KEY (`cotizacion_id`) REFERENCES `cotizaciones` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizaciones_detalle`
--

LOCK TABLES `cotizaciones_detalle` WRITE;
/*!40000 ALTER TABLE `cotizaciones_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `cotizaciones_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guias`
--

DROP TABLE IF EXISTS `guias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guias` (
  `id` varchar(36) NOT NULL DEFAULT uuid(),
  `numero_correlativo` int(11) NOT NULL AUTO_INCREMENT,
  `tipo_comprobante` varchar(2) DEFAULT '09',
  `serie` varchar(4) NOT NULL,
  `fecha_emision` date DEFAULT curdate(),
  `ruc_remitente` varchar(11) DEFAULT NULL,
  `nombre_remitente` varchar(255) DEFAULT NULL,
  `domicilio_remitente` varchar(500) DEFAULT NULL,
  `cliente_id` varchar(36) DEFAULT NULL,
  `ruc_destinatario` varchar(11) DEFAULT NULL,
  `nombre_destinatario` varchar(255) DEFAULT NULL,
  `domicilio_destinatario` varchar(500) DEFAULT NULL,
  `agencia_destino` varchar(255) DEFAULT NULL,
  `motivo_traslado` varchar(4) DEFAULT NULL,
  `descripcion_motivo` text DEFAULT NULL,
  `fecha_inicio_traslado` date DEFAULT NULL,
  `peso_total` decimal(12,3) DEFAULT NULL,
  `estado_sunat` varchar(20) DEFAULT 'PENDIENTE',
  `cdr_sunat` longtext DEFAULT NULL,
  `numero_ticket` varchar(20) DEFAULT NULL,
  `op_gravada` decimal(12,2) DEFAULT 0.00,
  `igv` decimal(12,2) DEFAULT 0.00,
  `total` decimal(12,2) DEFAULT 0.00,
  `observaciones` text DEFAULT NULL,
  `json_xml` longtext DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_correlativo` (`numero_correlativo`),
  UNIQUE KEY `unique_guia` (`tipo_comprobante`,`serie`,`numero_correlativo`),
  KEY `idx_guias_estado` (`estado_sunat`),
  KEY `idx_guias_cliente` (`cliente_id`),
  KEY `idx_guias_fecha` (`fecha_emision`),
  CONSTRAINT `guias_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guias`
--

LOCK TABLES `guias` WRITE;
/*!40000 ALTER TABLE `guias` DISABLE KEYS */;
/*!40000 ALTER TABLE `guias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guias_detalle`
--

DROP TABLE IF EXISTS `guias_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guias_detalle` (
  `id` varchar(36) NOT NULL DEFAULT uuid(),
  `guia_id` varchar(36) NOT NULL,
  `item` int(11) NOT NULL,
  `producto_id` varchar(36) DEFAULT NULL,
  `descripcion` text NOT NULL,
  `cantidad` decimal(12,3) NOT NULL,
  `unidad_medida` varchar(10) DEFAULT 'NIU',
  `valor_unitario` decimal(12,4) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_guia_id` (`guia_id`),
  CONSTRAINT `fk_guias_detalle_guia` FOREIGN KEY (`guia_id`) REFERENCES `guias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guias_detalle`
--

LOCK TABLES `guias_detalle` WRITE;
/*!40000 ALTER TABLE `guias_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `guias_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_movimientos`
--

DROP TABLE IF EXISTS `inventario_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_movimientos` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `producto_id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `almacen_origen_id` varchar(36) DEFAULT NULL,
  `almacen_destino_id` varchar(36) DEFAULT NULL,
  `tipo_movimiento` varchar(20) NOT NULL,
  `cantidad` decimal(12,3) NOT NULL,
  `stock_anterior` decimal(12,3) NOT NULL,
  `stock_nuevo` decimal(12,3) NOT NULL,
  `motivo` text DEFAULT NULL,
  `referencia` varchar(100) DEFAULT NULL,
  `usuario_email` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_inv_producto` (`producto_id`),
  KEY `idx_inv_tipo` (`tipo_movimiento`),
  KEY `idx_inv_fecha` (`created_at`),
  CONSTRAINT `inventario_movimientos_ibfk_1` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_movimientos`
--

LOCK TABLES `inventario_movimientos` WRITE;
/*!40000 ALTER TABLE `inventario_movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_stock`
--

DROP TABLE IF EXISTS `inventario_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_stock` (
  `producto_id` varchar(36) NOT NULL,
  `almacen_id` varchar(36) NOT NULL,
  `stock_actual` decimal(10,2) DEFAULT 0.00,
  `stock_minimo` decimal(10,2) DEFAULT 0.00,
  `pasillo` varchar(50) DEFAULT NULL,
  `anaquel` varchar(50) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`producto_id`,`almacen_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_stock`
--

LOCK TABLES `inventario_stock` WRITE;
/*!40000 ALTER TABLE `inventario_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas_credito`
--

DROP TABLE IF EXISTS `notas_credito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notas_credito` (
  `id` varchar(36) NOT NULL,
  `tipo_comprobante` varchar(2) DEFAULT '07',
  `serie` varchar(4) NOT NULL,
  `correlativo` int(11) NOT NULL,
  `venta_id` varchar(36) DEFAULT NULL,
  `cliente_id` varchar(36) DEFAULT NULL,
  `fecha_emision` date DEFAULT curdate(),
  `motivo` varchar(255) NOT NULL,
  `moneda` varchar(3) DEFAULT 'PEN',
  `op_gravada` decimal(12,2) DEFAULT 0.00,
  `igv` decimal(12,2) DEFAULT 0.00,
  `total` decimal(12,2) DEFAULT 0.00,
  `estado_sunat` varchar(20) DEFAULT 'PENDIENTE',
  `cdr_sunat` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `serie` (`serie`,`correlativo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas_credito`
--

LOCK TABLES `notas_credito` WRITE;
/*!40000 ALTER TABLE `notas_credito` DISABLE KEYS */;
/*!40000 ALTER TABLE `notas_credito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas_credito_detalle`
--

DROP TABLE IF EXISTS `notas_credito_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notas_credito_detalle` (
  `id` varchar(36) NOT NULL DEFAULT uuid(),
  `nota_id` varchar(36) NOT NULL,
  `item` int(11) NOT NULL,
  `producto_id` varchar(36) DEFAULT NULL,
  `descripcion` text NOT NULL,
  `cantidad` decimal(12,3) NOT NULL,
  `valor_unitario` decimal(12,4) NOT NULL,
  `precio_unitario` decimal(12,4) DEFAULT NULL,
  `tipo_afectacion_igv` varchar(2) DEFAULT '10',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_notas_credito_det` (`nota_id`),
  CONSTRAINT `fk_notas_credito_det` FOREIGN KEY (`nota_id`) REFERENCES `notas_credito` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas_credito_detalle`
--

LOCK TABLES `notas_credito_detalle` WRITE;
/*!40000 ALTER TABLE `notas_credito_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `notas_credito_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productos` (
  `id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `codigo_interno` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `codigo_sunat` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `sku` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `descripcion` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `categoria` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `linea` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `tipo` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `unidad_medida` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `precio_unitario_sin_igv` decimal(12,2) NOT NULL DEFAULT 0.00,
  `precio_unitario_con_igv` decimal(12,2) GENERATED ALWAYS AS (`precio_unitario_sin_igv` * 1.18) STORED,
  `precio_lista` decimal(12,2) DEFAULT NULL,
  `precio_oferta` decimal(12,2) DEFAULT NULL,
  `costo_promedio` decimal(12,4) NOT NULL DEFAULT 0.0000,
  `stock_actual` int(11) NOT NULL DEFAULT 0,
  `stock_minimo` int(11) NOT NULL DEFAULT 0,
  `estado_stock` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `tipo_afectacion_igv` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
  `imagen_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `imagen_alt` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `galeria` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`galeria`)),
  `video_url` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `pdf_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `slug` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `es_destacado` tinyint(1) NOT NULL DEFAULT 0,
  `etiqueta` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `peso_kg` decimal(8,3) DEFAULT NULL,
  `maneja_lotes` tinyint(1) NOT NULL DEFAULT 0,
  `categoria_id` char(36) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `legacy_id` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `legacy_sync_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_productos_codigo` (`codigo_interno`),
  UNIQUE KEY `uk_productos_sku` (`sku`),
  UNIQUE KEY `uk_productos_slug` (`slug`),
  UNIQUE KEY `sku` (`sku`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_productos_legacy` (`legacy_id`),
  KEY `idx_productos_categoria` (`categoria_id`),
  CONSTRAINT `productos_ibfk_1` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_estado_stock_insert` BEFORE INSERT ON `productos` FOR EACH ROW BEGIN

    IF NEW.estado_stock = 'automatico' THEN

        IF NEW.stock_actual = 0 THEN

            SET NEW.estado_stock = 'agotado';

        ELSEIF NEW.stock_actual <= NEW.stock_minimo THEN

            SET NEW.estado_stock = 'bajo_stock';

        ELSE

            SET NEW.estado_stock = 'en_stock';

        END IF;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_estado_stock_update` BEFORE UPDATE ON `productos` FOR EACH ROW BEGIN

    IF NEW.estado_stock = 'automatico' THEN

        IF NEW.stock_actual = 0 THEN

            SET NEW.estado_stock = 'agotado';

        ELSEIF NEW.stock_actual <= NEW.stock_minimo THEN

            SET NEW.estado_stock = 'bajo_stock';

        ELSE

            SET NEW.estado_stock = 'en_stock';

        END IF;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedores` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `tipo_documento` varchar(10) NOT NULL DEFAULT 'RUC',
  `numero_documento` varchar(20) NOT NULL,
  `razon_social` varchar(500) NOT NULL,
  `nombre_comercial` varchar(500) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  `ubigeo` varchar(6) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `contacto_nombre` varchar(255) DEFAULT NULL,
  `cuenta_bancaria` varchar(100) DEFAULT NULL,
  `banco` varchar(100) DEFAULT NULL,
  `cci` varchar(30) DEFAULT NULL,
  `condicion_pago` varchar(20) NOT NULL DEFAULT 'CONTADO',
  `dias_credito` int(11) NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_proveedores_doc` (`numero_documento`),
  KEY `idx_proveedores_razon` (`razon_social`(100))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_permisos`
--

DROP TABLE IF EXISTS `roles_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles_permisos` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `rol` varchar(50) NOT NULL,
  `modulo` varchar(50) NOT NULL,
  `puede_ver` tinyint(1) NOT NULL DEFAULT 0,
  `puede_crear` tinyint(1) NOT NULL DEFAULT 0,
  `puede_editar` tinyint(1) NOT NULL DEFAULT 0,
  `puede_eliminar` tinyint(1) NOT NULL DEFAULT 0,
  `puede_exportar` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_rol_modulo` (`rol`,`modulo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_permisos`
--

LOCK TABLES `roles_permisos` WRITE;
/*!40000 ALTER TABLE `roles_permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `series_comprobantes`
--

DROP TABLE IF EXISTS `series_comprobantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `series_comprobantes` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `tipo_comprobante` varchar(2) NOT NULL,
  `serie` varchar(4) NOT NULL,
  `correlativo_actual` int(11) NOT NULL DEFAULT 0,
  `almacen` varchar(100) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_serie` (`tipo_comprobante`,`serie`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `series_comprobantes`
--

LOCK TABLES `series_comprobantes` WRITE;
/*!40000 ALTER TABLE `series_comprobantes` DISABLE KEYS */;
INSERT INTO `series_comprobantes` VALUES ('8da7ebbc-1a66-11f1-96c5-5ccceb374ee4','01','F001',0,NULL,1,'2026-03-07 20:45:19'),('8da7ed23-1a66-11f1-96c5-5ccceb374ee4','03','B001',0,NULL,1,'2026-03-07 20:45:19'),('8da7eda8-1a66-11f1-96c5-5ccceb374ee4','07','FC01',0,NULL,1,'2026-03-07 20:45:19'),('8da7edd4-1a66-11f1-96c5-5ccceb374ee4','07','BC01',0,NULL,1,'2026-03-07 20:45:19'),('8da7ee04-1a66-11f1-96c5-5ccceb374ee4','09','T001',0,NULL,1,'2026-03-07 20:45:19');
/*!40000 ALTER TABLE `series_comprobantes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sync_hostinger_log`
--

DROP TABLE IF EXISTS `sync_hostinger_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sync_hostinger_log` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `tabla` varchar(50) NOT NULL DEFAULT 'productos',
  `registro_id` char(36) DEFAULT NULL,
  `accion` varchar(20) NOT NULL,
  `estado` varchar(20) NOT NULL DEFAULT 'PENDIENTE',
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  `error_msg` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `enviado_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sync_estado` (`estado`),
  KEY `idx_sync_tabla` (`tabla`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sync_hostinger_log`
--

LOCK TABLES `sync_hostinger_log` WRITE;
/*!40000 ALTER TABLE `sync_hostinger_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sync_hostinger_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `nombres` varchar(255) NOT NULL,
  `apellidos` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `foto_url` varchar(500) DEFAULT NULL,
  `rol` varchar(50) NOT NULL DEFAULT 'vendedor',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `ultimo_acceso` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_usuarios_email` (`email`),
  KEY `idx_usuarios_rol` (`rol`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES ('1775a432-1a7e-11f1-96c5-5ccceb374ee4','Admin','Maquimpower','ventas@maquimpower.com','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi',NULL,NULL,'admin',1,'2026-03-20 18:58:37','2026-03-07 23:33:48','2026-03-20 18:58:37'),('a566511a-1a66-11f1-96c5-5ccceb374ee4','Administrador','Sistema','admin@maquimpower.com','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi',NULL,NULL,'admin',1,'2026-04-07 09:21:46','2026-03-07 20:45:58','2026-04-07 09:21:46');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendedores`
--

DROP TABLE IF EXISTS `vendedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendedores` (
  `id` varchar(36) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendedores`
--

LOCK TABLES `vendedores` WRITE;
/*!40000 ALTER TABLE `vendedores` DISABLE KEYS */;
INSERT INTO `vendedores` VALUES ('878ee4d6-2887-11f1-b8f6-d843aea88809','Juan','P├®rez','987654321','juan@maquimpower.com',1,'2026-03-25 20:16:38','2026-03-25 20:16:38'),('878ee5f4-2887-11f1-b8f6-d843aea88809','Mar├¡a','Garc├¡a','987654322','maria@maquimpower.com',1,'2026-03-25 20:16:38','2026-03-25 20:16:38'),('878ee647-2887-11f1-b8f6-d843aea88809','Carlos','L├│pez','987654323','carlos@maquimpower.com',1,'2026-03-25 20:16:38','2026-03-25 20:16:38');
/*!40000 ALTER TABLE `vendedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventas` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `tipo_comprobante` varchar(2) NOT NULL,
  `serie` varchar(4) NOT NULL,
  `correlativo` int(11) NOT NULL,
  `numero_completo` varchar(20) GENERATED ALWAYS AS (concat(`serie`,'-',lpad(`correlativo`,8,'0'))) STORED,
  `fecha_emision` date NOT NULL DEFAULT curdate(),
  `hora_emision` time NOT NULL DEFAULT curtime(),
  `fecha_vencimiento` date DEFAULT NULL,
  `cliente_id` char(36) NOT NULL,
  `moneda` varchar(3) NOT NULL DEFAULT 'PEN',
  `tipo_cambio` decimal(6,3) NOT NULL DEFAULT 1.000,
  `condicion_pago` varchar(20) NOT NULL DEFAULT 'CONTADO',
  `forma_pago` varchar(50) DEFAULT NULL,
  `op_gravada` decimal(12,2) NOT NULL DEFAULT 0.00,
  `op_exonerada` decimal(12,2) NOT NULL DEFAULT 0.00,
  `op_inafecta` decimal(12,2) NOT NULL DEFAULT 0.00,
  `op_gratuita` decimal(12,2) NOT NULL DEFAULT 0.00,
  `descuento_global` decimal(12,2) NOT NULL DEFAULT 0.00,
  `porcentaje_descuento` decimal(5,2) NOT NULL DEFAULT 0.00,
  `igv` decimal(12,2) NOT NULL DEFAULT 0.00,
  `icbper` decimal(12,2) NOT NULL DEFAULT 0.00,
  `otros_cargos` decimal(12,2) NOT NULL DEFAULT 0.00,
  `importe_total` decimal(12,2) GENERATED ALWAYS AS (`op_gravada` + `igv` + `op_exonerada` + `op_inafecta` + `icbper` + `otros_cargos` - `descuento_global`) STORED,
  `estado_sunat` varchar(20) NOT NULL DEFAULT 'PENDIENTE',
  `metodo_pago` varchar(50) DEFAULT 'EFECTIVO',
  `cdr_sunat` text DEFAULT NULL,
  `hash_cpe` varchar(255) DEFAULT NULL,
  `codigo_sunat` varchar(10) DEFAULT NULL,
  `mensaje_sunat` text DEFAULT NULL,
  `fecha_envio_sunat` datetime DEFAULT NULL,
  `fecha_aceptacion_sunat` datetime DEFAULT NULL,
  `observacion` text DEFAULT NULL,
  `observacion_interna` text DEFAULT NULL,
  `lugar_entrega` text DEFAULT NULL,
  `estado_pago` varchar(20) NOT NULL DEFAULT 'PENDIENTE',
  `monto_pagado` decimal(12,2) NOT NULL DEFAULT 0.00,
  `vendedor_id` char(36) DEFAULT NULL,
  `usuario_id` char(36) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `legacy_sync_id` varchar(50) DEFAULT NULL,
  `legacy_sync_status` varchar(20) DEFAULT NULL,
  `legacy_sync_date` datetime DEFAULT NULL,
  `legacy_error_message` text DEFAULT NULL,
  `detraccion_codigo` varchar(10) DEFAULT NULL COMMENT 'Catalogo 54 SUNAT',
  `detraccion_porcentaje` decimal(5,2) DEFAULT 0.00,
  `detraccion_monto` decimal(12,2) DEFAULT 0.00,
  `detraccion_cuenta` varchar(30) DEFAULT NULL,
  `detraccion_medio_pago` varchar(10) DEFAULT NULL COMMENT 'Catalogo 59 SUNAT',
  `canal_venta` varchar(50) DEFAULT 'tienda' CHECK (`canal_venta` in ('tienda','envio_lima','web','envio_provincia')),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_comprobante` (`tipo_comprobante`,`serie`,`correlativo`),
  KEY `idx_ventas_cliente` (`cliente_id`),
  KEY `idx_ventas_fecha` (`fecha_emision`),
  KEY `idx_ventas_estado_sunat` (`estado_sunat`),
  KEY `idx_ventas_numero` (`numero_completo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_detalle`
--

DROP TABLE IF EXISTS `ventas_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventas_detalle` (
  `id` char(36) NOT NULL DEFAULT uuid(),
  `venta_id` char(36) NOT NULL,
  `item` int(11) NOT NULL,
  `producto_id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `codigo_producto` varchar(50) NOT NULL,
  `descripcion` text NOT NULL,
  `unidad_medida` varchar(10) NOT NULL,
  `cantidad` decimal(12,3) NOT NULL,
  `valor_unitario` decimal(12,4) NOT NULL,
  `precio_unitario` decimal(12,4) NOT NULL,
  `descuento_unitario` decimal(12,4) NOT NULL DEFAULT 0.0000,
  `tipo_afectacion_igv` varchar(2) NOT NULL DEFAULT '10',
  `porcentaje_igv` decimal(5,2) NOT NULL DEFAULT 18.00,
  `valor_venta` decimal(12,2) GENERATED ALWAYS AS (round(`cantidad` * `valor_unitario`,2)) STORED,
  `igv_item` decimal(12,2) GENERATED ALWAYS AS (case when `tipo_afectacion_igv` = '10' then round(`cantidad` * `valor_unitario` * 0.18,2) else 0 end) STORED,
  `precio_total` decimal(12,2) GENERATED ALWAYS AS (round(`cantidad` * `precio_unitario` - `descuento_unitario`,2)) STORED,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_item_venta` (`venta_id`,`item`),
  KEY `idx_detalle_venta` (`venta_id`),
  KEY `idx_detalle_producto` (`producto_id`),
  CONSTRAINT `ventas_detalle_ibfk_1` FOREIGN KEY (`venta_id`) REFERENCES `ventas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ventas_detalle_ibfk_2` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`id`) ON DELETE SET NULL ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_detalle`
--

LOCK TABLES `ventas_detalle` WRITE;
/*!40000 ALTER TABLE `ventas_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_detalle` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-07 16:26:46
